profiles {
    CCI {
        env {
            OMP_NUM_THREADS=4
            ref_fasta="$params.refdir/refgenome/GRCh38_no_alt.fa"
            refdir = "$params.refdir/"
            bamsorpath="/scratch/df13/software/install/biobambam2/2.0.146/bin"
            picardpath="/scratch/df13/software/install/picard/2.26.10/"
            SIFDIR="/scratch/df13/software/sif/"
        }
        process {
            errorStrategy='ignore'
            withName: AlignAndSort {
                executor = 'local'
                module = ['bwa/0.7.17']
                cpus=params.bwaThreads
            }
            withName: HaplotypeCaller {
                executor = 'local'
                cpus = '2'
                memory = { 4.GB * task.cpus}
                module = ['gatk/4.2.5.0']
            }
            withName: MergeVCFs {
                executor = 'local'
                cpus = '2'
                memory = { 4.GB * task.cpus}
                module = ['gatk/4.2.5.0']
            }
            withName: MergeBAMs {
                executor = 'local'
                cpus = '8'
                memory = { 4.GB * task.cpus}
                module = ['sambamba/0.8.1']
            }
            withName: SplitFastq {
                executor = 'local'
                cpus='6'
                memory = {4.GB * task.cpus}
                module = ['singularity']
            }
        }
    }
    pawseylocal {
        env {
            OMP_NUM_THREADS=4
            ref_fasta="$params.refdir/refgenome/GRCh38_no_alt.fa"
            refdir = "$params.refdir/"
            picardpath="/scratch/pawsey0001/sbeecroft/cci-nextflow-main/picard/2.27.1/"
            SIFDIR="/scratch/df13/software/sif/"
        }
        process {
            errorStrategy='ignore'
            cache = 'lenient'
            stageInMode = 'symlink'
            beforeScript = 'module load singularity'
            withName: AlignAndSort {
                executor = 'local'
                module = ['bwa/0.7.17']
                cpus=params.bwaThreads
            }
            withName: HaplotypeCaller {
                executor = 'local'
                cpus = '2'
                memory = { 4.GB * task.cpus}
                container = ['broadinstitute/gatk:4.2.5.0']
            }
            withName: MergeVCFs {
                executor = 'local'
                cpus = '2'
                memory = { 4.GB * task.cpus}
                container = ['broadinstitute/gatk:4.2.5.0']
            }
            withName: MergeBAMs {
                executor = 'local'
                cpus = '8'
                memory = { 4.GB * task.cpus}
                container = ['quay.io/biocontainers/sambamba:0.8.1--hadffe2f_1']
            }
            withName: SplitFastq {
                executor = 'local'
                cpus='6'
                memory = {4.GB * task.cpus}
                module = ['singularity']
            }
        }
    }
    pawsey_slurm {
        errorStrategy='ignore'
        cache = 'lenient'
        stageInMode = 'symlink'
        beforeScript = 'module load singularity'
        process.executor = 'slurm'
        executor.$slurm.pollInterval = '1 min'
        executor.$slurm.queueStatInterval = '5 min'
        executor.queueSize = 30
        executor.queue = {task.memory < 110.GB ? 'workq' : 'highmemq'}
        env {
            OMP_NUM_THREADS=4
            ref_fasta="$params.refdir/refgenome/GRCh38_no_alt.fa"
            refdir = "$params.refdir/"
            picardpath="/scratch/pawsey0001/sbeecroft/cci-nextflow-main/picard/2.27.1/"
            SIFDIR="/scratch/df13/software/sif/"
                }
        }
        process {
            errorStrategy='ignore'
            cache = 'lenient'
            stageInMode = 'symlink'
            beforeScript = 'module load singularity'
            withName: AlignAndSort {
                executor = 'local'
                module = ['bwa/0.7.17']
                cpus=params.bwaThreads
            }
            withName: HaplotypeCaller {
                executor = 'local'
                cpus = '2'
                memory = { 4.GB * task.cpus}
                container = ['broadinstitute/gatk:4.2.5.0']
            }
            withName: MergeVCFs {
                executor = 'local'
                cpus = '2'
                memory = { 4.GB * task.cpus}
                container = ['broadinstitute/gatk:4.2.5.0']
            }
            withName: MergeBAMs {
                executor = 'local'
                cpus = '8'
                memory = { 4.GB * task.cpus}
                container = ['quay.io/biocontainers/sambamba:0.8.1--hadffe2f_1']
            }
            withName: SplitFastq {
                executor = 'local'
                cpus='6'
                memory = {4.GB * task.cpus}
                container= ['quay.io/biocontainers/fastqsplitter:1.2.0--py37h8902056_3']
            }
        }
    }
}
cleanup = true
resume = true